################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/MutualFundsComparison/bin
/MutualFundsComparison/obj/Debug
/.vs
/MutualFundsComparison/App_Data/MutualFunds.mdf
/MutualFundsComparison/App_Data/MutualFunds_log.ldf
